@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    font-size: 15px;
    font-family: "Open Sans", sans-serif;
}

main {
    width: 626px;
    margin: 64px auto;
}

main img {
    margin-bottom: 32px;
}

main h1 {
    color: #3F3D56;
    font-size: 32px;
    font-weight: 500;
    font-family: "Dosis", sans-serif;
    margin-bottom: 16px;
}

main h1 strong {
    color: #EE24FF;
}

main p {
    color: #828282;
    margin: 0 auto 32px;
    max-width: 540px;
}

main p span {
    font-weight: 700;
    color: #3F3D56;
}

#line {
    width: 391px;
    margin: 0 auto 16px;
    border: 1px solid #ECEFF2;
}

footer a {
    font-weight: 700;
    color: #3F3D56;
    text-decoration: none;
    transition: color .2s ease-in-out;
}

footer a:hover {
    color: #EE24FF;
}

footer a + a {
    margin-left: 42px;
}

#wave {
    display: block;
    width: 100%;
    margin-top: 40px;
}